body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: white;
  text-align: center;
}

section {
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px 
}

img {
  height: 250px;
  width: auto;
}


p {
  color: white
}